<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.otopark">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="Android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="Android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.Android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="E-Otopark"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCcAMCQHoJBVymkKmLmse3d8_oUGUmMTjE"/>
        <activity android:name=".ForgetPassword" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>